<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Sign Up</h3>
    <hr />
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          [ngClass]="{
            'is-invalid': email?.invalid && (email?.dirty || email?.touched)
          }"
          placeholder="Email"
        />

        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="text-danger"
        >
          <div *ngIf="email?.errors?.['required']">Required</div>
          <div *ngIf="email?.errors?.['email']">Invalid email</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              password?.invalid && (password?.dirty || password?.touched)
          }"
          placeholder="Password"
        />

        <div
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          class="text-danger"
        >
          <div *ngIf="password?.errors?.['required']">Required</div>
          <div *ngIf="password?.errors?.['minlength']">Min 6 characters</div>
        </div>
      </div>

      <button type="submit" [disabled]="!signupForm.valid" class="btn btn-info">
        Sign up
      </button>
    </form>
  </div>
</div>
